# Version control
.git
.gitignore

# Environment files
config/api-keys.env
config/.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
